* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.border{
    border: 2px solid red;
}
.hidden {
    display: none;
}

.flex {
    display: flex;
}

.fcenter {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.mcenter {
    margin: auto;
    display: block;
}

/* -------------------------------------------------------------------- */

#display{
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}
#MainMenu{
    /* display: none; */
}
#AddSys{
    display: none;
}
#submitbutton{
    display: none;
}

.btn-mainmenu{
    width: 100%;
    display: block;
    margin: 40px auto;
    border: none;
    background-color: rgb(80, 214, 255);
    padding: 20px;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
}
.btn-mainmenu:hover{
    background-color: rgb(67, 182, 217);
}
.btn-mainmenu:active{
    scale: 1.1;
}

#AddSys{
    width: 100%;
    height: 80%;
    /* border: 2px solid red; */
    flex-direction: column;
    gap: 30px;
    overflow: scroll;
    
}

.inputs{
    border-radius: 20px;
    padding: 20px;
    font-size: large;
    width: 300px;
    display: block;
    height: 50px;
}
.btn{
    width: 100px;
    border: none;
    background-color: coral;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    display: block;
    margin: auto;
    padding: 10px;
}
.btn:active{
    background-color: rgb(255, 167, 135);
}
#votecastD{
    display: none;
    width: 100%;
    height: 100%;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.namess{
    width: 100px;
    /* height: 30px; */
    padding: 10px;
    font-size: large;
    border: 1px solid black;
    cursor: pointer;
}
.namess:active{
    color: blue;
    scale: 1.1;
}